{% extends 'home.html' %}
    
{% block log %}

{% endblock log %}
{% block content %}
<div style="text-align:center; border: 2px solid bisque; background-color: bisque; display: flex; justify-content:safe;">
    
{% if page == 'signup' %}

<form method="POST" style="margin: auto;">

    {% csrf_token %}
   
    {{form.as_table}}
    <label>Image</label>
    <input type="file" name ="image">
    <input type="submit" value="Signup">
</form>

{% else %}

<form method="POST">

    {% csrf_token %}
    <label>EMAIL</label>
    <input type="email" name="email">
    <br>
    <label>PASSWORD</label>
    <input type="password" name="password">
    
    <input type="submit" value="Login" style="padding: 5px; position:sticky; margin: auto;">
</form>

{% endif %}
</div>
{% endblock %}
