{% extends 'home.html' %}

{% block content %}
<style>
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.user-profile .avatar {
  margin-bottom: 20px;
}

.user-profile .avatar img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.user-profile .user-info h2 {
  margin-bottom: 10px;
}

.user-profile .user-info p {
  margin: 5px 0;
}

.update {

border: 2px solid black;



}


</style>

<div class="user-profile">
    <div class="avatar">
        <img src="{{ user.avatar.url }}" alt="User Avatar">
    </div>
    <div class="user-info">
        <h2>{{ user.name }}</h2>
        <!-- Add more user information here -->
        <!-- For example: -->
        <p>Email: {{ user.email }}</p>
        <a href="{% url 'changepassword' %}">Change Password</a>
        <a href="{% url 'update' %}">Edit Profile</a>
        <!-- Customize and add more information as needed -->
    </div>
</div>


{% if page == 'changepassword' %}
<div style="border: 2px solid black; text-align: left; padding: 10px; width: 320px; margin: 0 auto; ">
    <form method="POST" style="margin-top: 10px; display: flex; flex-direction: column;">

        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

        <p>
            <label for="id_old_password" style="font-weight: bold; margin-left: 13px;" >Old Password:</label>
            <input type="password" name="old_password" id="id_username" style="padding: 5px; margin-left: 5px; width: 200px;" />
        </p>
        
        <p>
            <label for="id_password" style="font-weight: bold; margin-left: 13px; "> New Password:</label>
            <input type="password" name="new_password1" id="id_password" style="padding: l 5px; margin-left: 8px; width: 200px;" />
        </p>
        <p>
            <label for="id_password" style="font-weight: bold; margin-left: 13px;"> Confirm Password:</label>
            <input type="password" name="new_password2" id="id_password" style="padding: 5px; margin-left: 8px; width: 200px;" />
        </p>

        <input type="submit" value="Change" style="padding: 8px 15px; background-color: #4CAF50; color: white; border: none; cursor: pointer; margin-top: 10px;">

    </form>
</div>

<a href="mailto:himlu.dada@gmail.com" style="color:dodgerblue;">Send Email</a>



{% endif %}

{% if page == 'update' %}
<div class="update">
  <form method="POST" enctype="multipart/form-data" style="display: flex; flex-direction: column; border: 1px solid black; padding: 10px;">
    <input type="hidden" name="csrfmiddlewaretoken" value="P51fxaBCev7W5BvGPGVW5ZJJ3O7W2L0xj7V5Pjp8srANhN04edUL87Ef3w2WKMgz">
    <p>
      <label for="id_name">Name:</label>
      <input type="text" name="name" value="Sooraj" maxlength="200" required id="id_name">
    </p>

    <p>
      <label for="id_email">Email:</label>
      <input type="email" name="email" value="soorajrajbanshi@cagtu.com" maxlength="254" required id="id_email">
    </p>

    <p>
      <label for="id_avatar">Avatar:</label>
      Currently: <a href="/images/Group_1.png">Group_1.png</a><br>
      Change:
      <input type="file" name="avatar" accept="image/*" id="id_avatar">
    </p>

    <input type="submit" value="Done">
  </form>
</div>



{% endif %}
{% endblock content %}
